<div class="wrapper col5">
    <div id="footer">
        <div class="footbox">
            <h2>联系我们</h2>
            <p>kindlelight{a}heavyskymobile.com(请将{a}替换为@)</p>

        </div>
        <div class="footbox">
            <h2>更多信息</h2>
            <ul>
                <li><a href="#">给我留言</a></li>
            </ul>
        </div>
        <div class="footbox last">
            

        </div>
        <br class="clear" />
    </div>
</div>
<div class="wrapper col6">
    <div id="copyright">
        <p class="fl_left">Copyright &copy; 2011 -  2016 All Rights Reserved - <a href="http://kindlelight.mobi">kindlelight.mobi | Kindle Light 轻小说 for Kindle</a></p>
        <br class="clear" />
    </div>
</div>