<div class="wrapper col1">
    <div id="header">
        <div id="logo">
            <h1><a href="#">Kindle Light</a></h1>
            <p>Light Novels for kindle. 为kindle而设的轻小说资源站</p>
        </div>
        <div id="banner"></div>
        <br class="clear" />
    </div>
</div>

<div class="wrapper col2">
    <div id="topbar">
        <div id="search">
            <ul>
                <li>用户</li>
            </ul>
            <form action="#" method="post">
                <fieldset>
                    <legend>Site Search</legend>
                    <input type="text" value="搜索本站&hellip;" onfocus="this.value=(this.value=='Search the site&hellip;')? '' : this.value ;" />
                    <input type="submit" name="go" id="go" value="GO" />
                </fieldset>
            </form>
        </div>



        <div id="topnav">
            <ul>
                <li>
                    <a class="active" href="#">小说分类</a>
                    <ul>
                        <li><a href="#">全部小说</a></li>
                        <li><a href="#">最近更新</a></li>
                        <li><a href="#">热门小说</a></li>
                        <li><a href="#">完本小说</a></li>
                        
                    </ul>
                </li>

                <li class="last">
                    <a href="#">用户功能</a>
                    <ul>
                        <li><a href="#">我的收藏</a></li>
                        <li><a href="#">我的设置</a></li>
                    </ul>
                </li>


            </ul>
        </div>
        <br class="clear" />
    </div>
</div>